---
import { header } from "../../../data/navigation.json";
import siteData from "../../../data/site.json";
---


<header
  class="header"
  x-data="{ open: false }"
  x-transition
  style={`background-color: ${header.background_color}; color: ${header.color};`}
>
  <div class="header__top bg-pink-500 py-4 sm:flex justify-center items-center gap-32">
    <span class="flex justify-center items-center py-4 sm:py-0 gap-2">
      <!--?xml version="1.0" encoding="iso-8859-1"?-->
      <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg
        fill="#fff"
        height="30px"
        width="30px"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 473.806 473.806"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
			c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
			c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
			c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
			c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
			c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
			c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
			C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
			c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
			c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
			c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
			c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
			c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
			c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
			l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
			C420.456,377.706,420.456,388.206,410.256,398.806z"
            ></path>
            <path
              d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
			c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
			S248.656,111.506,256.056,112.706z"
            ></path>
            <path
              d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
			c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
			c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"
            ></path>
          </g>
        </g>
      </svg>
      <p class="text-white">780-340-7442</p>
    </span>

    <span class="flex justify-center items-center py-4 sm:py-0 gap-2">
      <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg
        fill="#fff"
        width="30px"
        height="30px"
        viewBox="0 0 1920 1920"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1920 428.266v1189.54l-464.16-580.146-88.203 70.585 468.679 585.904H83.684l468.679-585.904-88.202-70.585L0 1617.805V428.265l959.944 832.441L1920 428.266ZM1919.932 226v52.627l-959.943 832.44L.045 278.628V226h1919.887Z"
          fill-rule="evenodd"></path>
      </svg>
      <p class="text-white">info@almostbetterthansex.ca</p>
    </span>
    <div class="flex justify-center items-center gap-4">
      <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
    <svg
    fill="#fff"
    width="30px"
    height="30px"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 2.03998C6.5 2.03998 2 6.52998 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.84998C10.44 7.33998 11.93 5.95998 14.22 5.95998C15.31 5.95998 16.45 6.14998 16.45 6.14998V8.61998H15.19C13.95 8.61998 13.56 9.38998 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5878 18.0622 20.3855 19.6099 18.57C21.1576 16.7546 22.0054 14.4456 22 12.06C22 6.52998 17.5 2.03998 12 2.03998Z"
    ></path>
  </svg>

  <!--?xml version="1.0" encoding="utf-8"?-->

  <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
  <svg
    fill="#fff"
    height="30px"
    width="30px"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="-271 273 256 256"
    xml:space="preserve"
  >
    <path
      d="M-64.5,273h-157c-27.3,0-49.5,22.2-49.5,49.5v52.3v104.8c0,27.3,22.2,49.5,49.5,49.5h157c27.3,0,49.5-22.2,49.5-49.5V374.7
v-52.3C-15.1,295.2-37.3,273-64.5,273z M-50.3,302.5h5.7v5.6v37.8l-43.3,0.1l-0.1-43.4L-50.3,302.5z M-179.6,374.7
c8.2-11.3,21.5-18.8,36.5-18.8s28.3,7.4,36.5,18.8c5.4,7.4,8.5,16.5,8.5,26.3c0,24.8-20.2,45.1-45.1,45.1s-44.9-20.3-44.9-45.1
C-188.1,391.2-184.9,382.1-179.6,374.7z M-40,479.5C-40,493-51,504-64.5,504h-157c-13.5,0-24.5-11-24.5-24.5V374.7h38.2
c-3.3,8.1-5.2,17-5.2,26.3c0,38.6,31.4,70,70,70c38.6,0,70-31.4,70-70c0-9.3-1.9-18.2-5.2-26.3H-40V479.5z"
    ></path>
  </svg>
  <!--?xml version="1.0" ?-->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    id="Layer_1"
    width="30px"
    height="30px"
    viewBox="0 0 24 24"
    style="enable-background:new 0 0 24 24;"
    xml:space="preserve"
    ><path
      d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"
    ></path></svg
  >
    </div>
  </div>
</header>
<div class="header__container">
  <div class="mx-auto flex justify-center items-center bg-slate-100">
    <a class="header__logo-link py-8" href={header.logo_url}>
      <h1 class="text-4xl text-center">
        {siteData.site_title}
      </h1>
    </a>
  </div>
  <nav class="header__nav">
    <ul
      class="header__nav-links"
      x-show="open"
      x-transition
      @click.outside="open = false"
    >
      {
        header.links.map((link) => {
          return (
            <li class="header__nav-item">
              <a class="header__nav-link" href={link.link}>
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</div>

<style>
  .header__container {
    /* max-width: var(--pageContainer); */
    max-width: 100%;
    margin: 0 auto;
    /* padding-inline: var(--pagePadding); */
  }

  .header li {
    list-style-type: none;
  }

  .header__top {
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    background: #ed2e7b;
    color: #fff;
    padding: 20px 0;
    min-width: 0;
  }

  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    background: #ed2e7b;
    color: #fff;
    padding: 20px 0;
    min-width: 0;
  }
  .header__logo-link h1{
    color: #ec4899 !important;
  }
  .header__logo-image {
    width: 200px;
  }

  .header__nav-links {
    /* position: fixed; */
    position: static;
    z-index: 99;
    /* background-color: white; */
    right: 0;
    bottom: 0;
    top: 5rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-link:hover {
    color: #034ad8;
  }
  .header__nav-links[x-show="open"] {
  transform: translateY(0);
}

  @media screen and (min-width: 600px) {

    .header_top{
      display: flex;
    }
    .header__nav-links {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      min-width: none;
      background-color: transparent;
    }
  }

  @media screen and (min-width: 600px) {
    .header__nav-item {
      padding-left: 1rem;
    }
  }

  .hamburger {
    padding: 0.5rem;
    transform: translateX(0.5rem);
    border-radius: 4px;
    cursor: pointer;
  }

  .hamburger:hover {
    background-color: #e5ecfb;
  }

  @media screen and (min-width: 600px) {
    .hamburger {
      display: none;
    }
  }
  /* .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: #034ad8;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    content: '';
    display: block;
    position: relative;
  }
  .hamburger__inner::before {
    top: -0.625rem;
  }
  .hamburger__inner::after {
    top: 0.4rem;
  } */
</style>
